<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<meta http-equiv="Pragma" content="no-cache"/> 
<meta http-equiv="Cache-Control" content="no-cache"/> 
<meta http-equiv="Expires" content="0"/> 
<title>登录管理</title>
<link href="public/CSS/login.css" type="text/css" rel="stylesheet" th:href="@{/public/CSS/login.css}"/>
<script type="text/javascript"   th:src="@{/public/js/jquery-3.3.1.js}"></script>
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="public/images/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="public/images/login_logo.png" /></a></div>
          <div class="login_name">
               <p>CRM管理系统</p>
          </div>
          <form method="post" name="form">
              <input name="username" type="text"  value="用户名" onfocus="this.value=''" onblur="if(this.value==''){this.value='用户名'}"/>
              <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';" >密码</span>
<input name="password" type="password" id="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
			  <input type="button" name="button" id="button" value="登录" onclick="print()"/>

          </form>
      </div>
</div>
<div style="text-align:center;">
</div>
</body>
<script type="text/javascript">
  function print(){  
   var username=form.username.value;  
   var password=form.password.value;  
   $.ajax({
   type: 'POST',
   url: '/crm_boot/template/login',
   data: {username,password},
   success: function(data){
   if(data=="sucess"){
	   location.href="public/index.html";
   }
   if(data=="fail"){
   alert("失败");
   }
   }
});
  }  
 </script> 
</html>
