<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.crm.dao.TemplateMapper">
    <resultMap id="BaseResultMap" type="com.boot.crm.doMain.Template">
        <id column="templateLayoutId" jdbcType="VARCHAR" property="templatelayoutid"/>
        <result column="templateLayoutName" jdbcType="VARCHAR" property="templatelayoutname"/>
        <result column="templateLayoutCode" jdbcType="VARCHAR" property="templatelayoutcode"/>
        <result column="templateLayoutPath" jdbcType="VARCHAR" property="templatelayoutpath"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="templateLayoutType" jdbcType="VARCHAR" property="templatelayouttype"/>
        <result column="templateLayoutOrg" jdbcType="VARCHAR" property="templatelayoutorg"/>
        <result column="templateLayoutVerNo" jdbcType="VARCHAR" property="templatelayoutverno"/>
        <result column="companyCode" jdbcType="VARCHAR" property="companycode"/>
        <result column="submitUser" jdbcType="VARCHAR" property="submituser"/>
        <result column="submitUserName" jdbcType="VARCHAR" property="submitusername"/>
        <result column="submitTime" jdbcType="TIMESTAMP" property="submittime"/>
        <result column="approveUser" jdbcType="VARCHAR" property="approveuser"/>
        <result column="approveUserName" jdbcType="VARCHAR" property="approveusername"/>
        <result column="approveTime" jdbcType="TIMESTAMP" property="approvetime"/>
        <result column="workflowId" jdbcType="VARCHAR" property="workflowid"/>
        <result column="createUser" jdbcType="VARCHAR" property="createuser"/>
        <result column="createUserName" jdbcType="VARCHAR" property="createusername"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="modifyUser" jdbcType="VARCHAR" property="modifyuser"/>
        <result column="modifyUserName" jdbcType="VARCHAR" property="modifyusername"/>
        <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime"/>
        <result column="deleteUser" jdbcType="VARCHAR" property="deleteuser"/>
        <result column="deleteUserName" jdbcType="VARCHAR" property="deleteusername"/>
        <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime"/>
        <result column="templateLayoutDescription" jdbcType="LONGVARCHAR" property="templatelayoutdescription"/>
        <result column="templateLayoutApplyReason" jdbcType="LONGVARCHAR" property="templatelayoutapplyreason"/>
    </resultMap>

    <select id="getAll" resultType="com.boot.crm.doMain.Template" parameterType="map">
        select * from dms.tdms_template_layout
        where 1=1
        <if test="createUserName!=null and createUserName!=''">
            and createUserName = #{createUserName}
        </if>
    </select>

    <select id="login" resultType="java.lang.String">
        select password from user
        where 1=1
        <if test="_parameter!=null and _parameter!=''">
            and name = #{username}
        </if>
    </select>

    <select id="queryCustomer" resultType="java.util.HashMap">
   SELECT * FROM customer  order by datetime DESC LIMIT #{start},#{end}
  </select>

    <select id="queryCustomerObject" parameterType="java.lang.String" resultType="map">
        SELECT * FROM customer WHERE 1=1
        <if test="_parameter!=null and _parameter!=''">
            and id = #{id}
        </if>
    </select>

    <select id="queryOperate" resultType="java.util.HashMap">
    SELECT * FROM operate  order by id DESC LIMIT #{start},#{end}
  </select>

    <select id="getListMapTemplate" resultType="map">
    select * from dms.tdms_template_layout
  </select>
    <!--管理员查询-->
    <select id="queryAdministrator" resultType="java.util.HashMap">
    SELECT * FROM USER  order by ID DESC LIMIT #{start},#{end}
  </select>
    <!-- 新增管理员 -->
    <insert id="insertAdministrator" parameterType="map">
        insert crm.user (
        <trim suffixOverrides=",">
            <foreach collection="map" index="index" item="item">
                <if test="item!=null and item!=''">
                    ${index},
                </if>
            </foreach>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <foreach collection="map" item="item">
                <if test="item!=null and item!=''">
                    #{item},
                </if>
            </foreach>
        </trim>
        )
    </insert>

    <!-- 新增模板 -->
    <insert id="insertCustomer" parameterType="map">
        insert crm.customer (
        <trim suffixOverrides=",">
            <foreach collection="map" index="index" item="item">
                <if test="item!=null and item!=''">
                    ${index},
                </if>
            </foreach>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <foreach collection="map" item="item">
                <if test="item!=null and item!=''">
                    #{item},
                </if>
            </foreach>
        </trim>
        )
    </insert>

    <!-- 新增模板 -->
    <insert id="inserOperate" parameterType="map">
        insert crm.operate (
        <trim suffixOverrides=",">
            <foreach collection="map" index="index" item="item">
                <if test="item!=null and item!=''">
                    ${index},
                </if>
            </foreach>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <foreach collection="map" item="item">
                <if test="item!=null and item!=''">
                    #{item},
                </if>
            </foreach>
        </trim>
        )
    </insert>

    <update id="updateCustomer">
        update crm.customer
        <set>
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <if test="key != 'id'.toString()">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        WHERE
        id = #{id}
    </update>

    <update id="updateOperate">
        update crm.operate
        <set>
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <if test="key != 'id'.toString()">
                    ${key} = #{value}
                </if>
            </foreach>
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 新增模板 -->
    <insert id="insertTemplate" parameterType="map">
        insert crm.administrator (
        <trim suffixOverrides=",">
            <foreach collection="map" index="index" item="item">
                <if test="item!=null and item!=''">
                    ${index},
                </if>
            </foreach>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <foreach collection="map" item="item">
                <if test="item!=null and item!=''">
                    #{item},
                </if>
            </foreach>
        </trim>
        )
    </insert>

    <delete id="deleteOperate">
     delete FROM operate where id IN (#{id})
  </delete>

    <delete id="deleteCustomer">
     delete FROM customer where id IN (#{id})
  </delete>

    <select id="queryOperateMnum" resultType="java.lang.Integer" parameterType="map" >
    SELECT sum(mnum) FROM operate
  </select>

    <select id="queryOperatePnum" resultType="java.lang.Integer" parameterType="map" >
    SELECT sum(pnum) FROM operate
  </select>

    <select id="queryOperateSnum" resultType="java.lang.Integer" parameterType="map" >
    SELECT sum(pnum) AS pnum FROM operate
    UNION
    SELECT sum(mnum) AS mnum FROM operate
    UNION
    SELECT sum(snum) AS snum FROM operate
    UNION
    SELECT sum(lnum) AS lnum FROM operate
    UNION
    SELECT sum(inum) AS inum FROM operate
    UNION
    SELECT sum(enum) AS enum FROM operate
    UNION
    SELECT sum(dnum) AS dnum FROM operate
    UNION
    SELECT sum(linetimes) AS linetimes FROM operate
  </select>

    <insert id="inserSinbeda" parameterType="map">
        insert crm.sinbeda (
        <trim suffixOverrides=",">
            <foreach collection="map" index="index" item="item">
                <if test="item!=null and item!=''">
                    ${index},
                </if>
            </foreach>
        </trim>
        )
        VALUES (
        <trim suffixOverrides=",">
            <foreach collection="map" item="item">
                <if test="item!=null and item!=''">
                    #{item},
                </if>
            </foreach>
        </trim>
        )
    </insert>

    <select id="querySinbeda" resultType="java.util.HashMap">
    SELECT id,pnum,mnum,create_time,sum_num
    FROM sinbeda where status = 0
    order by id DESC LIMIT #{start},#{end}
  </select>

    <update id="deleteSinbedaOne">
        update crm.sinbeda
        SET status = 1
        where  id IN (#{id})
    </update>
</mapper>